.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cart-image {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
